*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Mono", monospace;
}

.header {
    background-color: black;
    color: white;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 50px;
}

.header__number {
    color: blue;
}

.header__link:hover {
    text-decoration: underline;
}